.about__section {
  & h4 {
    padding: 2em 0 0 0;
  }

  & h4:after {
    content: "";
    height: 4px;
    display: block;
    width: 13%;
    background-color: #5f625e;
    margin: 20px auto 40px auto;
  }

  & .about__description p {
    width: 90%;
    margin: 0 auto 4em auto;
    line-height: 2;
  }
}

@media (min-width: 992px) {
  .about__section {
    display: flex;

    & .about__img {
      margin: 0 0 -7px 0;
    }

    & .about__description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      & p {
        width: 70%;
        padding: 0 auto 3em auto;
        line-height: 2.2;
      }
    }
  }
}

@media (min-width: 1200px) {
  .about__description h4 {
    font-size: 40px;
    padding: 0;

    &:after {
      width: 8%;
    }
  }

  .about__description p {
    font-size: 18px;
  }
}
