*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;

  /* added for nav-toggle positioning */
  position: relative;
}
