*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font;
  background: $white;
}

img,
.card__img img,
.about__img img {
  max-width: 100%;
}

ul,
p,
a {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;

  /* added for nav-toggle positioning */
  position: relative;
}

// Adjustments

@media (max-width: 767px) {
  .for-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .for-mobile {
    display: none;
  }

  .hamburger,
  .mobile__nav {
    display: none !important;
  }
}
